@page "/"
@using MiWebBlazor.Shared;
@inject HttpClient Http

<!-- Hero Section -->
<section id="hero" class="hero section">
    @if (myLocation == null)
    {
        <p>Loading...</p>
    }
    else
    {

        <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->
        <img src="assets/img/hero-bg.jpg" alt="">
        <!-- <div class="container text-center" data-aos="zoom-out" data-aos-delay="100"> -->
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>@myPerson.Name @myPerson.LastName</h2>
                    <p>I'm a @myResume.Profession from @myLocation.City</p>
                    <a href="about.html" class="btn-get-started">About Me</a>
                </div>
            </div>
        </div>
    }
</section><!-- /Hero Section -->
@code {
    int IdResume = 2;
    Resume myResume;
    Person myPerson;
    Location myLocation;
    protected override async Task OnInitializedAsync()
    {
        myResume = await Http.GetFromJsonAsync<Resume>($"api/Resume/{IdResume}") ?? new Resume();
        myPerson = await Http.GetFromJsonAsync<Person>($"api/Person/{IdResume}") ?? new Person();
        myLocation = await Http.GetFromJsonAsync<Location>($"api/Location/{myPerson.LocationId}") ?? new Location();
    }
}

