@inherits LayoutComponentBase
@using MiWebBlazor.Client.Components

<div class="page">
    <main>
        <HeaderComponent />
        @Body
        <br />
        <FooterComponent />
    </main>
</div>
